<h1>Nova Mentora</h1>

<%= form_with model: @mentor do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
  </div>
  <div>
    <%= form.label :age %><br>
    <%= form.number_field :age %>
  </div>
    <div>
    <%= form.label :phone %><br>
    <%= form.number_field :phone %>
  </div>

  <div>
    <%= form.label :skills %><br>
    <%= form.textarea :skills %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
