<h1><%= @mentor.name %></h1>

<p>habilidades: <%= @mentor.skills %></p>

<p>e-mail: <%= @mentor.email %></p>

<p>telefone: <%= @mentor.phone %></p>

<p>idade: <%= @mentor.age %></p>

<%= link_to "voltar", :back %>